.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.idea/
*iml
*.iml
/mainframer
/.mainframer

# Built files
*/build
/build
*.apk
app/**/output.json

# Hebrew assets are copied on build
app/src/main/res/values-iw/

TODO.md
CHANGELOG.md
/captures
build.sh
