<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.kanade.tachiyomi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- Lock vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Tachiyomi">
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- suppress AndroidDomInspection -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.reader.ReaderActivity"
            android:theme="@style/Theme.Reader" />
        <activity
            android:name=".widget.CustomLayoutPickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme" />
        <activity
            android:name=".ui.setting.AnilistLoginActivity"
            android:label="Anilist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anilist-auth"
                    android:scheme="tachiyomi" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extension.util.ExtensionInstallActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".util.ZipContentProvider"
            android:authorities="${applicationId}.zip-provider"
            android:exported="false" />
        <provider
            android:name=".util.RarContentProvider"
            android:authorities="${applicationId}.rar-provider"
            android:exported="false" />

        <receiver
            android:name=".data.notification.NotificationReceiver"
            android:exported="false" />

        <service
            android:name=".data.library.LibraryUpdateService"
            android:exported="false" />
        <service
            android:name=".data.download.DownloadService"
            android:exported="false" />
        <service
            android:name=".data.updater.UpdaterService"
            android:exported="false" />
        <service
            android:name=".data.backup.BackupCreateService"
            android:exported="false" />
        <service
            android:name=".data.backup.BackupRestoreService"
            android:exported="false" />

        <!-- EH -->
        <activity
            android:name="exh.ui.intercept.InterceptActivity"
            android:label="TachiyomiEH"
            android:theme="@style/Theme.EHIntercept">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="g.e-hentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="http" />
                <data
                    android:host="g.e-hentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
                <data
                    android:host="e-hentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="http" />
                <data
                    android:host="e-hentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
                <data
                    android:host="exhentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="http" />
                <data
                    android:host="exhentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
                <data
                    android:host="nhentai.net"
                    android:pathPrefix="/g/"
                    android:scheme="http" />
                <data
                    android:host="nhentai.net"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
                <data
                    android:host="www.perveden.com"
                    android:pathPattern="/.*/.*-manga/.*"
                    android:scheme="http" />
                <data
                    android:host="www.perveden.com"
                    android:pathPattern="/.*/.*-manga/.*"
                    android:scheme="https" />
                <data
                    android:host="hentai.cafe"
                    android:pathPattern="/.*/.*"
                    android:scheme="http" />
                <data
                    android:host="hentai.cafe"
                    android:pathPattern="/.*/.*"
                    android:scheme="https" />
                <data
                    android:host="www.tsumino.com"
                    android:pathPrefix="/Book/Info/"
                    android:scheme="http" />
                <data
                    android:host="www.tsumino.com"
                    android:pathPrefix="/Book/Info/"
                    android:scheme="https" />
                <data
                    android:host="www.tsumino.com"
                    android:pathPrefix="/Read/View/"
                    android:scheme="http" />
                <data
                    android:host="www.tsumino.com"
                    android:pathPrefix="/Read/View/"
                    android:scheme="https" />
                <data
                    android:host="hitomi.la"
                    android:pathPrefix="/galleries/"
                    android:scheme="http" />
                <data
                    android:host="hitomi.la"
                    android:pathPrefix="/reader/"
                    android:scheme="http" />
                <data
                    android:host="hitomi.la"
                    android:pathPrefix="/galleries/"
                    android:scheme="https" />
                <data
                    android:host="hitomi.la"
                    android:pathPrefix="/reader/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="exh.ui.captcha.SolveCaptchaActivity"
            android:launchMode="singleInstance" />
        <activity android:name="exh.ui.webview.WebViewActivity"></activity>
    </application>

</manifest>