<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.pwittchen.reactivenetwork.library"
    >

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

  <application/>

</manifest>
